.navbar{
  .navbar-nav{
    .nav-link{
      i.fa + p,
      i.now-ui-icons + p{
        margin-left: 6px;
      }
    }
  }
}

  .navbar .dropdown.show .dropdown-menu, .navbar .dropdown .dropdown-menu{
    position: static !important;
  }

