
.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}

.page-item.active .page-link {
    background-color: #000000;
    border-color: rgba(0, 0, 0, 0.97);
}

.page-link {
    color: #000102;
}

.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.card-deck-style {
    flex-wrap: wrap;
    align-content: center!important;

}

.card-style {
    flex-wrap: wrap;
    min-width: 250px!important;
    min-height: 200px!important;
    margin-top: 15px;
}

.spinner-style{
    margin-top : 50px;
    justify-content: center;

}

.pagination-style{
    margin-top : 50px;
    justify-content: center;
}

.input-search{
    font-size : 18px;
}

.alert {
    border: 0;
    border-radius: 0.1875rem;
    color: #000000;
    padding: .75rem 1.25rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
    position: relative;
    margin-bottom: 1rem;
}

.alert-style {
    text-align:center;
    font-size : 18px;
}



